.pending-task::-webkit-scrollbar {
    width: 10px;
  }
   
  .pending-task::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  .pending-task::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
.pending-task{
    width: 50%;
    height: 80vh;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    .pending-task-container{
        .pending-head{
            align-items: center;
            display: flex;
            justify-content: space-between;
            .pending-heading{
                font-weight: 500;
                color: rgb(246, 55, 55);
                letter-spacing: 3px;
                span{
                    font-weight: bold;
                }
            }
        }
        #trash-emp{
            &:hover{
                cursor: pointer;
            }
        }
        .pending-map{
            display: flex;
            flex-wrap: wrap;
        }
    }
    #empty-pending-task{
        position: fixed;
        top: 35%;
        color: #00A0FE;
        letter-spacing: 4px;
        font-size: 35px;
        text-align: left;
        font-weight: bold;
        span{
            font-size: 55px;
        }
    }
}