.info-modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 200;
    .info-modal-container{
        width: 50%;
        height: fit-content;
        padding: 30px 0;
        box-sizing: border-box;
        border-radius: 10px;
        color: white;
        background-image: linear-gradient(to right, #2395B1, #67CAE1);
        .info-header{
           position: relative;
            #info-cls-bt{
                position: absolute;
                top: -50px;
                right: -20px;
                color: #2395B1;
                font-weight: bold;
                border: none;
                padding: 10px;
                border-radius: 50%;
                font-size: 25px;
                background-color: white;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .info-div{
            padding: 0 45px;
            box-sizing: border-box;
            text-align: left;
            .info-head-text{
                text-align: center;
                padding: 15px 0;
                // color: #00A0FE;
                margin-bottom: 10px;
            }
            ul{
                li{
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: 2px;
                    margin-bottom: 10px;
                    strong{
                        font-weight: 500;
                        // color: #00A0FE;
                    }
                }
            }
        }
    }
}
@media screen and(max-width:757px) {
    .info-modal{
        .info-modal-container{
            width: 70%;
        }
    }
}
@media screen and(max-width:520px) {
    .info-modal{
        .info-modal-container{
            width: 80%;
            .info-div{
                .info-head-text{
                    font-size: 20px;
                }
                ul{
                    li{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}