.delete-todo{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    height: 100vh;
    .delete-todo-container{
        width:350px;
        height: fit-content;
        background-color: white;
        border-radius: 20px;
    }
}