.completed-task::-webkit-scrollbar {
    width: 10px;
  }
   
  .completed-task::-webkit-scrollbar-thumb {
    background: #00A0FE; 
    border-radius: 10px;
  }
  
  .completed-task::-webkit-scrollbar-thumb:hover {
    background: #0269a4; 
  }
.completed-task{
    // width: fit-content;
    height: 80vh;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    .completed-task-container{
        .completed-head{
            align-items: center;
            display: flex;
            justify-content: space-between;
            .completed-heading{
                font-weight: 500;
                color: rgb(38, 133, 0);
                letter-spacing: 3px;
                span{
                    font-weight: bold;
                }
            }
        }
        #trash-emp{
            &:hover{
                cursor: pointer;
            }
        }
        .completed-map{
            display: flex;
            flex-wrap: wrap;
        }
    }
}
@media screen and(max-width:750px) {
    .completed-task{
        margin-top: 25px;
        height: 100%;
        overflow:visible;
    }
}