.todo-modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}

.todo-modal .todo-container {
  width: 35%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  background-color: white;
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo-modal .todo-container .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.todo-modal .todo-container .modal-header .modal-header-text {
  color: #373636;
  font-weight: 400;
  letter-spacing: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.todo-modal .todo-container .modal-header .modal-close-bt {
  position: absolute;
  top: -30px;
  right: -40px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 25px;
  background-color: white;
}

.todo-modal .todo-container .modal-header .modal-close-bt:hover {
  cursor: pointer;
}

.todo-modal .todo-container .todo-frm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo-modal .todo-container .todo-frm .err-nm, .todo-modal .todo-container .todo-frm .err-ds, .todo-modal .todo-container .todo-frm .err-as, .todo-modal .todo-container .todo-frm .err-du, .todo-modal .todo-container .todo-frm .err-pri, .todo-modal .todo-container .todo-frm .err-dt {
  color: red;
  margin-top: 5px;
  display: none;
  font-style: italic;
  font-weight: 500;
}

.todo-modal .todo-container .todo-frm .flex-div {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo-modal .todo-container .todo-frm .flex-div .just-dv {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 50%;
}

.todo-modal .todo-container .todo-frm label {
  font-size: 17px;
  margin: 10px 0;
  margin-right: 10px;
  margin-top: 15px;
}

.todo-modal .todo-container .todo-frm #inpt-nm, .todo-modal .todo-container .todo-frm #inpt-dt, .todo-modal .todo-container .todo-frm #inpt-ds, .todo-modal .todo-container .todo-frm #inpt-as, .todo-modal .todo-container .todo-frm #inpt-du, .todo-modal .todo-container .todo-frm #inpt-pr {
  padding: 7px;
  border: 1px solid #969696;
  border-radius: 5px;
}

.todo-modal .todo-container .todo-frm #inpt-nm::-webkit-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-dt::-webkit-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-ds::-webkit-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-as::-webkit-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-du::-webkit-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-pr::-webkit-input-placeholder {
  padding-left: 10px;
}

.todo-modal .todo-container .todo-frm #inpt-nm:-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-dt:-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-ds:-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-as:-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-du:-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-pr:-ms-input-placeholder {
  padding-left: 10px;
}

.todo-modal .todo-container .todo-frm #inpt-nm::-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-dt::-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-ds::-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-as::-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-du::-ms-input-placeholder, .todo-modal .todo-container .todo-frm #inpt-pr::-ms-input-placeholder {
  padding-left: 10px;
}

.todo-modal .todo-container .todo-frm #inpt-nm::placeholder, .todo-modal .todo-container .todo-frm #inpt-dt::placeholder, .todo-modal .todo-container .todo-frm #inpt-ds::placeholder, .todo-modal .todo-container .todo-frm #inpt-as::placeholder, .todo-modal .todo-container .todo-frm #inpt-du::placeholder, .todo-modal .todo-container .todo-frm #inpt-pr::placeholder {
  padding-left: 10px;
}

.todo-modal .todo-container .todo-frm .submit-modal {
  padding: 10px;
  margin: 20px 0;
  background-color: #ED987E;
  border: 2px solid #ED987E;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.todo-modal .todo-container .todo-frm .submit-modal:hover {
  cursor: pointer;
  border: 2px solid #ED987E;
  color: #ED987E;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#inpt-nm:invalid[focused="true"] ~ .err-nm {
  display: block;
}

#inpt-dt:invalid[focused="true"] ~ .err-dt {
  display: block;
}

#inpt-pr:invalid[focused="true"] ~ .err-pri {
  display: block;
}

#inpt-ds:invalid[focused="true"] ~ .err-ds {
  display: block;
}

#inpt-as:invalid[focused="true"] ~ .err-as {
  display: block;
}

#inpt-du:invalid[focused="true"] ~ .err-du {
  display: block;
}

@media screen and (max-width: 1230px) {
  .todo-modal .todo-container {
    width: 45%;
  }
}

@media screen and (max-width: 1008px) {
  .todo-modal .todo-container {
    width: 55%;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 820px) {
  .todo-modal .todo-container {
    width: 65%;
  }
  .todo-modal .todo-container .todo-frm {
    padding: 0 15px;
  }
}

@media screen and (max-width: 527px) {
  .todo-modal .todo-container {
    width: 95%;
  }
  .todo-modal .todo-container .modal-header .modal-close-bt {
    right: -5px;
  }
  .todo-modal .todo-container .todo-frm {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=TodoModal.css.map */