.todo-modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.3);
        .todo-container{
            width: 35%;
            height: fit-content;
            border-radius: 20px;
            background-color: white;
            padding: 10px 25px;
            box-sizing: border-box;
            .modal-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                .modal-header{
                    color: rgb(55, 54, 54);
                    font-weight: 400;
                    letter-spacing: 4px;
                    user-select: none;
                }
                .modal-close-bt{
                    position: absolute;
                    top: -30px;
                    right: -40px;
                    border: none;
                    padding: 10px;
                    border-radius: 50%;
                    font-size: 25px;
                    background-color: white;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .todo-frm{
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 0 40px ;
                // margin: 10px 0;
                box-sizing: border-box;
                label{
                    font-size: 17px;
                    margin: 10px 0;
                    margin-top: 15px;
                }
                input[type=text],input[type=date],select{
                    padding: 7px;
                    border: 1px solid rgb(150, 150, 150);
                    border-radius: 5px;
                    &::placeholder{
                        padding-left: 10px;
                    }
                }
                .submit-modal{
                    padding: 10px;
                    margin: 20px 0;
                    background-color: #ED987E;
                    border: 2px solid #ED987E;
                    border-radius: 10px;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    &:hover{
                        cursor: pointer;
                        border: 2px solid #ED987E;
                        color: #ED987E;
                        background-color: white;
                        transition: 0.5s;
                    }
                }
            }
        }
}