.complete-card{
    margin: 10px 0;
    background-color: #c1e0e3;
    margin-right: 10px;
    display: flex;
    width: 340px;
    border-radius: 5px;
    .high{
        width: 10px;
        border-radius: 5px 0 0 5px;
        background-color: red;
    }
    .low{
        width: 10px;
        border-radius: 5px 0 0 5px;
        background-color: rgb(0, 94, 255);
    }
    .medium{
        width: 10px;
        border-radius: 5px 0 0 5px;
        background-color: rgb(242, 255, 0);
    }
    .card-info{
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
            .pending-info-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                #todo-name{
                    font-size: 19px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
                .todo-date{
                    color: gray;
                }
            }
            #todo-desc{
                font-size: 17px;
                color: gray;
            }
            #todo-prio{
                color: rgb(65, 65, 65);
                margin: 10px 0;
                #pndg-spn{
                    font-weight: 500;
                }
            }
            .pending-info-foote{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .pndg-foot-icon{
                    font-size: 18px;
                    #pndg-ico{
                        margin: 0 5px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

            }
    }
}