.edit-modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    .container-edit-modal{
        width: 50%;
        height: 50%;
        background-color: white;
        border-radius: 15px;
    }
}